#footer {
  background: rgba(255, 255, 255, 0.15);
  color: #000;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  backdrop-filter: saturate(100%) blur(5px);
  padding: 20px;
}

#footer::before {
  background: rgba(255, 255, 255, 0.15);
}

#footer #footer-wrap {
  color: var(--font-color);
}

.footer-links {
  display: flex;
  justify-content: center; /* 居中对齐 */
  padding: 50px 0; /* 上下内边距 */
}

.links-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px; /* 图标之间的间距 */
  justify-items: center;
}

.footer-link {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.footer-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-link i {
  font-size: 2em; /* 调整图标大小 */
}

.footer-custom-text, .footer-copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--font-color);
}
#nav-right{
  flex:1 1 auto;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
  flex-wrap:nowrap;
}