#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255,255,255,.15)
}

#footer #footer-wrap {
    color: var(--font-color)
}

.footer-links {
    display: flex;
    justify-content: center; /* 居中对齐 */
    gap: 250px; /* 图标之间的间距 */
    padding: 100px 0; /* 上下内边距 */
  }
  
  .footer-link {
    color: inherit;
    text-decoration: none;
  }
  
  .footer-link i {
    font-size: 10em; /* 调整图标大小 */
  }
  